@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  margin: 0;
  font-family: Futura, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.leaflet-control-zoom {
  border: 1px solid rgba(31, 41, 55, 0.8);
}

/* Style for the ZoomControl buttons */
.leaflet-control-zoom a {
  color: rgb(255, 255, 255);
  background-color: rgba(31, 41, 55, 0.8);
  border-color: rgba(31, 41, 55, 0.8);
}
