@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Mono:wght@300;400;500&display=swap");

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "DM Mono", monospace;
}
.leaflet-control-zoom {
  border: 1px solid rgba(31, 41, 55, 0.8);
}

/* Style for the ZoomControl buttons */
.leaflet-control-zoom a {
  color: rgb(255, 255, 255);
  background-color: rgba(31, 41, 55, 0.8);
  border-color: rgba(31, 41, 55, 0.8);
}
